<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>
  
  <ion-content padding>
      <ion-grid>
        <ion-row>
          <ion-img class="profile-pic" expand="block" (click)="updateProfilePic()" src="https://ucarecdn.com/{{ profilePic }}/-/scale_crop/150x150/center/"></ion-img>
        </ion-row>
        <ion-row>
          <ion-card class="edit-button">
            <input type="file" #fileBtn class="filebtn" (change)="uploadPic($event)" />
          </ion-card>
        </ion-row>
      </ion-grid>
    
  
    <div class="profile-info">
      <ion-item>
        <ion-label position="stacked">Username</ion-label>
        <ion-input [(ngModel)]="username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">New Password?</ion-label>
        <ion-input [(ngModel)]="newpassword"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Enter old password</ion-label>
        <ion-input [(ngModel)]="password"></ion-input>
      </ion-item>
      <ion-item>
      </ion-item>
      <br>
      <ion-button fill="solid" expand="block" (click)="updateDetails()">Save</ion-button>
    </div>
  
  </ion-content>
