.fileBtn {
    opacity: 0;
    position: absolute;
    top: -100em;
    left:-100em;
    color:#3d4169;
    --background: #e2e0d5;
}

.edit-button {
    color:#3d4169;
    --background: #e2e0d5;
}

.profile-pic {
    width: 125px;
    height: 125px;
    // margin-top: 5%;
    // margin-bottom: 5%;
    margin-right: auto;
    margin-left: auto;
}

ion-toolbar {
    // --background: #3d4169 ;
    // color: #e2e0d5;
    --background: #e2e0d5;
    color: #3d4169;
}

ion-back-button {
    // --color: #e2e0d5;
    --color: #3d4169;
    
}

ion-content {
    // --background: #3a3a3a;
    // color:#e2e0d5;
    --background: #d1cfc3;
}

ion-item {
    // --background: #565c5e;
    // color:#e2e0d5;
    --background: #e2e0d5;
    color: #565c5e;
}

ion-card {
    // --background: #565c5e;
    // color:#e2e0d5;
    --background: #e2e0d5;
    color: #565c5e;
}

ion-button {
    color:#565c5e;
    --color-hover: #dfdbd8;
    --background: #b5c2c7;
    --background-activated: #455954;
    --background-focused: #b69b7d;
    --background-hover: #565c5e;
}