<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>
  
  <ion-content padding>
    <ion-card>
      <input type="file" #fileBtn class="filebtn" (change)="uploadPic($event)" />
      <div>
        <ion-img class="profile-pic" (click)="updateProfilePic()" src="https://ucarecdn.com/{{ profilePic }}/-/scale_crop/150x150/center/"></ion-img>
      </div>
    </ion-card>
  
      <div class="profile-info">
        <ion-item>
          <ion-label position="floating">Username</ion-label>
          <ion-input [(ngModel)]="username"></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label position="floating">New Password?</ion-label>
          <ion-input [(ngModel)]="newpassword"></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label position="floating">Enter old password</ion-label>
          <ion-input [(ngModel)]="password"></ion-input>
        </ion-item>
        <br>
        <ion-button fill="solid" expand="block" (click)="updateDetails()">Save</ion-button>
      </div>
  
  </ion-content>
