<ion-header>
  <ion-toolbar class="head-toolbar">
    <ion-title>Chat</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="exitChat()" class="exit-word">Exit
        <ion-icon class="head-buttons" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list class="chat-list">

    <ion-item *ngFor="let chat of chats" no-lines>
      <div class="chat-status" text-center *ngIf="chat.type==='join'||chat.type==='exit';else message">
        <span class="chat-date">{{chat.sendDate | date: 'yy/MM/dd (EEE) HH:mm'}}</span>
        <span class="chat-content-center">{{chat.message}}</span>
      </div>

      <ng-template #message>
          <ion-label text-wrap class="media-body" *ngIf="chat.user === nickname">
            <h2>{{chat.message}}</h2>
            <small>{{chat.user}} Date:{{chat.sendDate | date: 'yy/MM/dd (EEE) HH:mm'}}</small>
          </ion-label>
          <ion-label text-wrap class="media-body2" *ngIf="chat.user !== nickname">
            <h2>{{chat.message}}</h2>
            <small>{{chat.user}} Date:{{chat.sendDate | date: 'yy/MM/dd (EEE) HH:mm'}}</small>
          </ion-label>
      </ng-template>
    </ion-item>

  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar class="footer-toolbar">
    <ion-input type="text" placeholder="Type a message" [(ngModel)]="chatMessage" name="message"></ion-input>
    <ion-buttons slot="end">
      <ion-button slot="end" class="send-message" (click)="sendChatMessage()">
        Send
        <ion-icon name="send"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>