ion-label {
    color: #069ca4;
}

ion-button {
    color:#565c5e;
    --color-hover: #dfdbd8;
    // width: 100px;
    // height: 35px;
    // margin: auto;
}
.login-button {
    --background: #b5c2c7;
    --background-activated: #455954;
    --background-focused: #b69b7d;
    --background-hover: #565c5e;
}
.sign-up-button {
    --background: #dfdbd8;
    --background-focused: #b69b7d;
    --background-hover: #565c5e;
    
}

ion-toolbar {
    --background: #3d4169;
    color: #e2e0d5;
}

ion-icon {
    font-size: 24px;
}

ion-content {
    --background: #d1cfc3;
}

ion-item {
    --background: #e2e0d5;
    --background-focused: #b69b7d;
    color: #565c5e;
}

// .text-item {
//     --background: #b69b7d;
// }

