.tab-bar{
    //--background: #3a3a3a;
    --background: #3d4169;
    // --color: #585858;
    --color: #b5c2c7;
    // --color: #ffffff;
    // --color-selected: #e2e0d5;
    --color-selected: #ffffff;
}