ion-toolbar {
    --background: #3d4169 ;
    color: #e2e0d5;
}

ion-content {
    --background: #3a3a3a;
}

ion-item {
    //--background: #565c5e;
    --background: #3a3a3a;
    color:#e2e0d5;
}

ion-button {
    //color:#565c5e;
    --background: #565c5e;
    color:#e2e0d5;
    --color-hover: #dfdbd8;
    //--background: #b5c2c7;
    --background-activated: #455954;
    --background-focused: #b69b7d;
    --background-hover: #565c5e;
}