<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/tabs/home" class="back-button"></ion-back-button>
      </ion-buttons>
    <ion-title>Lobby Setup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
      <ion-label>Lobby Name:</ion-label>
      <ion-input type='text' [(ngModel)]="lobbyname" required=""></ion-input>
  </ion-item>
  <br>
  <ion-button fill='solid' expand="block" (click)="lobbysetup()">Start Chatting!</ion-button>

</ion-content>
