ion-toolbar {
    --background: #3d4169 ;
    color: #e2e0d5;
}

ion-content {
    --background: #e2e0d5;
}

.header-username {
    size:16px;
    color: #565c5e;
    margin-left: auto;
    margin-right: auto;
}
.user-image {
    width: 150px;
    height: 150px;
    color: #565c5e;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.user-name {
    color: #565c5e;
    margin-left: auto;
    margin-right: auto;
}

ion-progress-bar {
    --background: #494949;
}

ion-item {
    // --background: #565c5e;
    // color #e2e0d5;
    --background: #e2e0d5;
    color: #565c5e;


}

ion-button {
    color:#565c5e;
    --color-hover: #dfdbd8;
    --background: #b5c2c7;
    --background-activated: #455954;
    --background-focused: #b69b7d;
    --background-hover: #565c5e;
}