ion-toolbar {
    --background: #3d4169 ;
    color: #e2e0d5;
}

ion-content {
    --background: #3a3a3a;
}

.header-username {
    size:16px;
    color: #e2e0d5;
}
.user-image {
    width: 150px;
    height: 150px;
    color: #e2e0d5;
}

.user-name {
    color: #e2e0d5;
}

ion-progress-bar {
    --background: #e2e0d5;
}

ion-button {
    color:#565c5e;
    --color-hover: #dfdbd8;
    --background: #b5c2c7;
    --background-activated: #455954;
    --background-focused: #b69b7d;
    --background-hover: #565c5e;
}