<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div id ="profile-info" *ngIf="username">
        <ion-grid>
          <ion-row>
            <ion-img  class="user-image" src="http://ucarecdn.com/{{ profilePic }}/-/scale_crop/200x200/center/"></ion-img>
          </ion-row>
          <ion-row>
            <h2 class="user-name">{{ username }}</h2>
          </ion-row>
        </ion-grid> 
      <!-- <ion-item>
        <p class="user-name">your pics?</p>
      </ion-item> -->
      <br>
      <ion-button fill="solid" expand="block" routerLink="/edit-profile">Edit Profile</ion-button>
  </div>
  

</ion-content>
