<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)='logout()' class="logout-word">Logout
        <ion-icon name ="log-out" class="log-out-button"></ion-icon>
        <!-- <ion-icon slot="icon-only" name ="log-out" class="log-out-button"></ion-icon> -->
      </ion-button>
    </ion-buttons>
    <ion-title>Welcome {{ username }}!</ion-title>
  </ion-toolbar>
  <ion-toolbar class="create-lobby">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Create New Lobby</ion-title>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="createlobby()">
        <ion-icon name="add-circle" class="add-lobby"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item *ngFor="let lobby of lobbies" (click)="enterChat(lobby.key)">
    {{lobby.lobbyname}}
    <ion-icon name="chatboxes" slot="end"></ion-icon>
  </ion-item>
</ion-content>

