ion-toolbar {
    --background: #3d4169 ;
    color: #e2e0d5;
    .logout-word{
        color: #e2e0d5;
        font-size: 11px;
    }
    
    .log-out-button {
        color: #e2e0d5;
        font-size: 11px;
    }
}

.create-lobby {
    --background: #e2e0d5;
    color: #494949;
}x

.home {
    --bakground: #494949;
}

.add-lobby {
    color:#494949;
}

ion-content {
    --background: #d1cfc3;
}

ion-item {
    --background: #565c5e;
    color:#e2e0d5;
}

