<ion-header>
    <ion-toolbar>
      <ion-title>Gamers Chit N' Chat!</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <ion-item>
        <h2>Register</h2>
    </ion-item>
    <br>
    <ion-item>
        <ion-label>
            <ion-icon name="people"></ion-icon>
        </ion-label>
        <ion-input type='text' [(ngModel)]="username" placeholder="Username"></ion-input>
    </ion-item>
    <br>
    <ion-item>
        <ion-label>
            <ion-icon name="key"></ion-icon>
        </ion-label>
        <ion-input type='password' [(ngModel)]="password" placeholder="Password"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>
            <ion-icon name="key"></ion-icon>
        </ion-label>
        <ion-input type='password' [(ngModel)]="cpassword" placeholder="Confirm Password"></ion-input>
    </ion-item>
    <br>
        
    <ion-button class="register-button" fill='solid' expand="block" (click)="register()">Signup</ion-button>
    <ion-button class="back-button" expand="block" routerLink="/" routerDirection="back">Cancel</ion-button>
    <!-- <ion-card *ngIf="password !== cpassword">
        <ion-label color="red">Password does not match</ion-label>
    </ion-card> -->
  </ion-content>